body, html {
    scroll-behavior: smooth;
}
.header {
    width: 100%;
}
.navbar.fixed-top {
    padding-left: 150px;
    height: 100px;
    background-color:white;
    opacity: 2; 
}
.main-menu {
    padding-left: 150px;
}
.copyright {
    background-color: #478bca;
    height: 100px;
    
}

.copyRight{
    margin-top: 3%;
    text-align: center;
    color: white;
}
.footerLogo {
        position: absolute;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: 0 0 0 50%;
}
.footer img {
        position: absolute;
        width: 80%;
        transform: translate(-50%, -50%);
}

.contact {
    padding-right: 30%;
}
.footerImage {
    background-color: grey;
    height: 150px;
}

.jumbotron {
    margin-top: 5em;
}
